.idea-element{
    background-color: #0c8d9f;
    color: white;
    width: 78px;
}
.image{
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
}

h5{
    font-size: large;
    font-weight: bold;
    padding-top: 5rem;
}

