.idea-element{
    background-color: #0c8d9f;
    color: white;
    width: 75px;
    margin-top: 2rem;
    margin-left: 2rem;
    z-index: 1;
    position: absolute;
    text-align: center;
}
.image{
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    max-width: 450px;
}

h5{
    font-size: large;
    font-weight: bold;
    padding-top: 6rem;
    text-align: left;
}

.example-card mat-icon{
    margin-left: 5rem;
}

.card-title-2{
    display: none;
}

/** RESPONSIVE */
@media screen and (max-width: 992px){
    .image{
        max-width: 100%;
    }
    h5{
        text-align: center;
        padding-top: 1rem;
    }
    .card-title-2{
        display: block;
    }
    .card-title-1{
        display: none;
    }
}