<div class="container">
  <div class="row">
    <div class="col-xs-12 margin-top-xl">
      <mat-card class="example-card">
        <div class="row">
          <div class="col-xs-1 idea-container margin-right-md">
            <mat-card class="idea-element">
              <mat-icon class="icon">lightbulb</mat-icon> 
            </mat-card>
          </div>
          <div class="col-xs-1">
            <mat-icon>assignment</mat-icon>
          </div>
        </div>
        <div class="row margin-top-lg">
          <div class="col-lg-4">
            <img class= "image" src="https://con-lorca.appspot.com/img/no-foto.png" alt="No image found">
          </div>
          <div class="col-lg-3">
            <h5>Idea Summary</h5>
          </div>
          <div class="col-lg-5 col-xs-12">
            <app-card-info></app-card-info>            
          </div>
        </div>
        <app-assignees></app-assignees>
      </mat-card>
    </div>
  </div>
</div>