.card-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.rating-star{
    font-size: medium;
    color: #ff9800;
    width:  12px;
}

.rating-container, .post-date-container{
    display: flex;
    flex-direction: row;
}

.blue-text{
    font-weight: bold;
    color: #0c8d9f;
}


/** RESPONSIVE */
@media screen and (max-width: 992px){
    .card-info-container{
        align-items: center;
        padding-top: 2rem;
    }
}