<div class=" card-info-container margin-right-md"> 
  <div class="row">
    <div class="col-xs-12 rating-container">
      <p class="margin-right-sm">Posted <span class="blue-text">Anonymous User</span></p>
      <span class="material-icons-outlined rating-star">star</span>
      <span class="material-icons-outlined rating-star">star</span>
      <span class="material-icons-outlined rating-star">star</span>
      <span class="material-icons-outlined rating-star">star</span>
      <span class="material-icons-outlined rating-star">star</span>
      <p class="margin-left-sm">0</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 post-date-container">
      <mat-icon class="margin-right-sm">date_range</mat-icon>
      <p>June 27, 2019 12:00 PM</p>
    </div>
  </div>
</div>