.assignees-container .btn{
    background-color: #ff9800;
    border-radius: 40%;
    color: white;
    width: 32px;
}

.workflow-container{
    display: flex;
    flex-direction: row;
}

.workflow-container mat-icon{
    font-size: small;
}

.blue-text{
    font-weight: bold;
    color: #0c8d9f;
}