<div class="assignees-container padding-top-md padding-left-xl">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p><b>Assignees</b></p>
      <p class="blue-text">Assignees</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="workflow-container">
        <p><b>Workflow</b></p>
        <mat-icon class="margin-left-sm">create</mat-icon>
      </div>
      <p class="blue-text">Idea Review/PLM II</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p><b>Review Score</b></p>
      <button class="btn btn-xs">---</button>
    </div>
  </div>
</div>
